<style>
    #centerBlock{
        display:block;
        margin-left:auto;
        margin-right:auto;        
    }


</style>

<h1>OOPS!!</h1>
<h3>It seems that there is nothing here!!!</h3>

<div class="container">
<img id="centerBlock" src="~/images/dog.gif" />
</div>